name: CI

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '15 10 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, 3.12.2]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }} with Robot Framework ${{ matrix.rf-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install uv
        uv pip install -r requirements-dev.txt --python ${{ matrix.python-version }} --system
        uv pip install robotframework-browser --python ${{ matrix.python-version }} --system
    - name: Lint files
      run: |
        rfbrowser init chromium
        inv lint
    - name: Run unit tests
      run: inv utest
    - name: Run acceptance tests
      run: |
        inv atest
    - uses: actions/upload-artifact@v6
      if: ${{ always() }}
      with:
        name: Test_results_${{ matrix.python-version }}
        path: atest/output